div {
	color: #2185d0;
}
.home_container {
	display: flex;
	justify-content: center;
	height: 90vh;
	margin-left: 2em;
	margin-right: 2em;
	flex-direction: column;
}
.home_container div:first-child {
	margin-bottom: 5px;
}
.table_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 1px solid rgb(234, 234, 234);
	border-radius: 4px;
	box-shadow: rgb(165, 160, 160) 0px 1px 0px;
}
.table_row {
	display: flex;
	border-bottom: 1px solid #eaeaea;
	margin-left: 2em;
	margin-right: 2em;
}
.table_row div {
	flex: 1;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: right;
}
.table_row div:first-child {
	flex: 10;
	text-align: left;
}
.table_row:nth-child(3) {
	border-bottom: none;
}

@media only screen and (max-width: 600px) {
	.table_row div:nth-child(3) {
		text-align: center;
	}
}
